html, body {
    background-color: #f1f1f1;
    margin: 0px;
}

.btn-success {
    margin: 0;
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid transparent;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}